/* $colorFondoClaro: #e0e1dd;
$colorFondoMedio:#b9bab3;
$colorFondoPscuro: #7a7d73;
$colorTextoBlack: black;
$colorTitulosFoto: #1a1a19b3;
$colorMenuNav: rgba(224,225,221,.6);
$colorBordesBox: #bcbcb9; */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../multimedia/1.jpg);
  background-position: center;
  background-size: cover;
}

/* MENU */
header .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: square;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(225, 224, 221, 0.6);
  text-align: center;
  width: 100vw;
  height: 100px;
  padding-left: 0;
  margin-right: 0;
}
header .menu li {
  display: inline-block;
  padding: 0px 10px;
}
header .menu li .logoMenu {
  width: 120px;
  height: 120px;
}
header .menu li a {
  color: black;
  font-weight: normal;
  text-decoration: none;
  font-size: 25px;
  display: block;
  padding: 0px 20px;
}
header .menu li a:hover {
  font-weight: 500;
}
header .navbar {
  display: none;
}

/* FOOTER */
.gridFooter {
  display: grid;
  width: 98vw;
  height: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 14px;
  grid-template-areas: "logo nosotros redes news";
  justify-content: space-around;
  align-content: start;
  justify-items: stretch;
  align-items: start;
}
.gridFooter .divLogo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
}
.gridFooter .divLogo .logoFooter {
  width: 130px;
  height: 130px;
}
.gridFooter .nosotros {
  grid-area: nosotros;
  margin: 50px 30px 30px 30px;
}
.gridFooter .redes {
  grid-area: redes;
  margin: 50px 30px 30px 30px;
}
.gridFooter .news {
  grid-area: news;
  margin: 50px 30px 30px 30px;
}
.gridFooter .news .newsletter {
  font-size: 15px;
}
.gridFooter .logoRedes {
  width: 60px;
  height: 60px;
}

.fotoPrincipalFondoInicio {
  position: relative;
  background: #d9ae94;
  overflow: hidden;
  margin-top: 100px;
  width: 100%;
  height: 900px;
}
.fotoPrincipalFondoInicio h1 {
  font-family: "Secular One", sans-serif;
  padding: 300px 100px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 50px;
  color: rgba(21, 21, 20, 0.7019607843);
}
.fotoPrincipalFondoInicio:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url("../multimedia/portadaInicio2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.destacadosGrid {
  overflow: auto;
  margin: 40px 80px;
  display: grid;
  width: 100wv;
  height: 800px;
  grid-template-columns: 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr;
  grid-template-rows: 0.3fr 1.5fr;
  grid-template-areas: "titulo titulo titulo titulo titulo" "foto1 foto2 foto3 foto4 foto5";
  justify-content: space-evenly;
  align-content: stretch;
  align-items: stretch;
  justify-items: stretch;
}

.destacadosTitulo {
  grid-area: titulo;
  margin: 30px;
  /* padding-top: 20px; */
}
.destacadosTitulo h2 {
  font-weight: normal;
  font-family: "Secular One", sans-serif;
  text-align: center;
  font-size: 40px;
}

.foto1, .foto5, .foto4, .foto3, .foto2 {
  grid-area: foto1;
  background-image: url("../multimedia/destacadoMaiara (2).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 15px 30px 15px;
  border-radius: 15px;
  opacity: 0.6;
}
.foto1:hover, .foto5:hover, .foto4:hover, .foto3:hover, .foto2:hover {
  opacity: 1;
  background-image: url("../multimedia/MaiaraGifAlto.gif");
}

.foto2 {
  grid-area: foto2;
  background-image: url("../multimedia/destacadoHenrJu.jpg");
}
.foto2:hover {
  opacity: 1;
  background-image: url("../multimedia/HenrGifAlto.gif");
}

.foto3 {
  grid-area: foto3;
  background-image: url("../multimedia/destacadoLuan.jpg");
}
.foto3:hover {
  opacity: 1;
  background-image: url("../multimedia/LuanGifAlto.gif");
}

.foto4 {
  grid-area: foto4;
  background-image: url("../multimedia/destacadoMarilia.jpg");
}
.foto4:hover {
  background-image: url("../multimedia/MariliaGifAlto.gif");
}

.foto5 {
  grid-area: foto5;
  background-image: url("../multimedia/destacadoGusLima.jpg");
}
.foto5:hover {
  background-image: url("../multimedia/GustavoGifAlto.gif");
}

.fotoPrincipalFondoArtistas {
  position: relative;
  background: #d9ae94;
  overflow: hidden;
  margin-top: 100px;
  width: 100%;
  height: 900px;
}
.fotoPrincipalFondoArtistas h1 {
  font-family: "Secular One", sans-serif;
  padding: 300px 100px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 50px;
  color: rgba(21, 21, 20, 0.7019607843);
}
.fotoPrincipalFondoArtistas:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url("../multimedia/portadaArtistas.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.boxArtistasIndividual {
  margin: 40px 30px;
  border-radius: 20px;
  background-color: rgba(181, 132, 99, 0.5);
}

.boxFlex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  padding: 10px;
}

.titulodDerecho {
  text-align: right;
  margin-right: 25px;
}

.boxArtistas h2 {
  font-size: 25px;
  padding: 20px 20px 0px 25px;
  font-weight: 500;
  font-family: "Secular One", sans-serif;
  margin-left: 25px;
}
.boxArtistas .boxArtistasFoto {
  width: 350px;
  height: 350px;
  padding: 5px 20px;
  border-radius: 20px;
}
.boxArtistas p {
  padding: 30px 30px;
  font-weight: normal;
}
.boxArtistas .enlaces, .boxArtistas .enlacesIz {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}
.boxArtistas .enlacesIz {
  justify-content: start;
  margin-left: 20px;
}
.boxArtistas a {
  text-align: center;
  padding: 10px 15px;
  margin: 0 20px 20px 0px;
  font-weight: normal;
  width: 180px;
  height: 50px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  background-color: rgba(181, 132, 99, 0.5);
  border-color: #b58463;
}
.boxArtistas a:hover {
  background-color: #d9ae94;
}

.fotoPrincipalFondoConoce {
  position: relative;
  background: #d9ae94;
  overflow: hidden;
  margin-top: 100px;
  width: 100%;
  height: 900px;
}
.fotoPrincipalFondoConoce h1 {
  font-family: "Secular One", sans-serif;
  padding: 300px 100px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 50px;
  color: rgba(21, 21, 20, 0.7019607843);
}
.fotoPrincipalFondoConoce:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url("../multimedia/brunoPortada.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.historiaGrid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.6fr;
  grid-template-areas: "raiz sofrencia" "referentes referentes";
  justify-content: space-evenly;
  align-content: stretch;
  align-items: start;
  justify-items: center;
}

.raiz {
  grid-area: raiz;
  width: 600px;
  background-color: rgba(181, 132, 99, 0.5);
  margin: 50px 0px;
  border-radius: 20px;
}
.raiz h2 {
  font-size: 25px;
  padding: 20px 20px 10px 20px;
  font-weight: 500;
  font-family: "Secular One", sans-serif;
  text-align: center;
}
.raiz p {
  width: 600px;
  text-align: justify;
  padding: 10px 20px 5px 20px;
  font-weight: normal;
}
.raiz .raizVideo {
  width: 600px;
  padding: 10px 20px 20px 20px;
}
.raiz .raizFoto {
  width: 600px;
  padding: 10px 20px;
}

.sofrencia {
  grid-area: sofrencia;
  width: 600px;
  background-color: rgba(181, 132, 99, 0.5);
  margin: 50px 0px;
  border-radius: 20px;
}
.sofrencia h2 {
  font-size: 25px;
  padding: 20px 20px 10px 20px;
  font-weight: 500;
  font-family: "Secular One", sans-serif;
  text-align: center;
}
.sofrencia p {
  width: 600px;
  text-align: justify;
  padding: 10px 20px 5px 20px;
  font-weight: normal;
}
.sofrencia .sofrenciaFoto {
  width: 600px;
  height: 360px;
  padding: 10px 20px 20px 20px;
}
.sofrencia .sofrenciaVideo {
  width: 600px;
  padding: 10px 20px;
}

.carrouselBox {
  grid-area: referentes;
  width: 600px;
}
.carrouselBox .referentesFoto {
  width: 350px;
  margin: 10px 130px;
}
.carrouselBox h2 {
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  font-weight: 500;
}

.fotoPrincipalFondoContacto {
  position: relative;
  background: #d9ae94;
  overflow: hidden;
  margin-top: 100px;
  width: 100%;
  height: 900px;
}
.fotoPrincipalFondoContacto h1 {
  font-family: "Secular One", sans-serif;
  padding: 300px 100px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 50px;
  color: rgba(21, 21, 20, 0.7019607843);
}
.fotoPrincipalFondoContacto:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url("../multimedia/maiaraPortada.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.formularioGrid {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "form";
  width: 100%;
  justify-items: center;
  align-items: center;
}
.formularioGrid .formulario {
  grid-area: form;
  width: 600px;
  border-radius: 20px;
  background-color: rgba(181, 132, 99, 0.5);
  margin: 50px 0px;
  padding: 30px;
  font-weight: normal;
}
.formularioGrid .formulario h2 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 500;
  font-family: "Secular One", sans-serif;
}
.formularioGrid .formulario div {
  padding: 10px;
  font-weight: normal;
}
.formularioGrid .formulario input {
  width: 100%;
}
.formularioGrid .formulario textarea {
  width: 100%;
}
.formularioGrid .formulario .siNo input {
  width: auto;
}
.formularioGrid .formulario fieldset input {
  width: auto;
  margin: 15px;
}
.formularioGrid .botonBorrar, .formularioGrid .botonEnviar {
  background-color: rgba(181, 132, 99, 0.5);
  border-radius: 30px;
  margin: 10px;
  border-color: #d9ae94;
}
.formularioGrid .botonBorrar:hover, .formularioGrid .botonEnviar:hover {
  background-color: #d9ae94;
}
.fotoPrincipalFondoTop10 {
  position: relative;
  background: #d9ae94;
  overflow: hidden;
  margin-top: 100px;
  width: 100%;
  height: 900px;
}
.fotoPrincipalFondoTop10 h1 {
  font-family: "Secular One", sans-serif;
  padding: 300px 100px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 50px;
  color: rgba(21, 21, 20, 0.7019607843);
}
.fotoPrincipalFondoTop10:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url("../multimedia/LuanSantanaPortada2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.cancionesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas: "spotify spotify spotify spotify spotify" "album1 album2 album3 album4 album5";
  width: 100%;
  justify-items: center;
  align-items: center;
}
.cancionesGrid .canciones {
  grid-area: spotify;
  width: 90%;
  height: 600px;
  background-color: rgba(181, 132, 99, 0.5);
  overflow: auto;
  border-radius: 20px;
  margin: 50px 0px;
}
.cancionesGrid .canciones h2 {
  text-align: center;
  font-size: 40px;
  padding: 30px;
  font-weight: 500;
  font-family: "Secular One", sans-serif;
}
.cancionesGrid .canciones .listaSpotify {
  height: 450px;
  padding-right: 40px;
  padding-left: 40px;
}
.cancionesGrid .album1, .cancionesGrid .album5, .cancionesGrid .album4, .cancionesGrid .album3, .cancionesGrid .album2 {
  padding: 15px;
  grid-area: album1;
  background-color: #b58463;
  border-radius: 20px;
  margin: 10px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cancionesGrid .album1 iframe, .cancionesGrid .album5 iframe, .cancionesGrid .album4 iframe, .cancionesGrid .album3 iframe, .cancionesGrid .album2 iframe {
  display: none;
}
.cancionesGrid .album1 h3, .cancionesGrid .album5 h3, .cancionesGrid .album4 h3, .cancionesGrid .album3 h3, .cancionesGrid .album2 h3 {
  font-size: 25px;
  text-align: center;
}
.cancionesGrid .album1:hover, .cancionesGrid .album5:hover, .cancionesGrid .album4:hover, .cancionesGrid .album3:hover, .cancionesGrid .album2:hover {
  height: 100%;
  background-color: rgba(181, 132, 99, 0.5);
}
.cancionesGrid .album1:hover h3, .cancionesGrid .album5:hover h3, .cancionesGrid .album4:hover h3, .cancionesGrid .album3:hover h3, .cancionesGrid .album2:hover h3 {
  display: none;
}
.cancionesGrid .album1:hover iframe, .cancionesGrid .album5:hover iframe, .cancionesGrid .album4:hover iframe, .cancionesGrid .album3:hover iframe, .cancionesGrid .album2:hover iframe {
  display: inline-block;
}
.cancionesGrid .album2 {
  grid-area: album2;
}
.cancionesGrid .album3 {
  grid-area: album3;
}
.cancionesGrid .album4 {
  grid-area: album4;
}
.cancionesGrid .album5 {
  grid-area: album5;
}

/* MOBILE */
@media screen and (max-width: 500px) {
  /* MENU */
  header .menu {
    display: none;
  }
  header .navbar {
    display: inline-flex;
    height: 75px;
    padding: 0;
    background-color: rgba(225, 224, 221, 0.6);
  }
  header .navbar .logoMenu {
    width: 75px;
    height: 75px;
  }
  header .navbar a {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
  }
  header .navbar .navbar-brand {
    padding: 0;
    margin-right: 0;
  }
  header .navbar .navbar-toggler {
    width: 35px;
    padding: 4px;
  }
  header .navbar .navbar-toggler-icon {
    width: 25px;
  }
  /* INICIO */
  .fotoPrincipalFondoInicio {
    margin-top: 75px;
    width: 100%;
    height: 500px;
  }
  .fotoPrincipalFondoInicio h1 {
    padding: 150px 100px;
    font-size: 30px;
  }
  .destacadosGrid {
    margin: 40px 20px;
    width: 90%;
    height: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "titulo" "foto1" "foto2" "foto3" "foto4" "foto5";
  }
  .destacadosTitulo {
    margin: 15px 0 10px 0;
    padding-top: 10px;
  }
  .destacadosTitulo h2 {
    font-size: 20px;
  }
  .foto1, .foto2, .foto3, .foto4, .foto5 {
    margin: 5px 10px 5px 10px;
    background-image: url(../multimedia/destacadoMaiaraHor.png);
  }
  .foto1:hover, .foto2:hover, .foto3:hover, .foto4:hover, .foto5:hover {
    background-image: url("../multimedia/MaiaraGifChico.jpg");
  }
  .foto2 {
    background-image: url(../multimedia/destacadoHenrJuHor.png);
  }
  .foto2:hover {
    background-image: url("../multimedia/HenrGifChico.jpg");
  }
  .foto3 {
    background-image: url(../multimedia/destacadoLuanHor.png);
  }
  .foto3:hover {
    background-image: url("../multimedia/LuanGifChico.jpg");
  }
  .foto4 {
    background-image: url(../multimedia/destacadoMariliaHor.jpg);
  }
  .foto4:hover {
    background-image: url("../multimedia/MariliaGifChico.jpg");
  }
  .foto5 {
    margin-bottom: 10px;
    background-image: url(../multimedia/destacadoGusLimaHor.jpg);
  }
  .foto5:hover {
    background-image: url("../multimedia/GustavoGifChico.gif");
  }
  /* TOP 10 */
  .fotoPrincipalFondoTop10 {
    margin-top: 75px;
    width: 100%;
    height: 500px;
  }
  .fotoPrincipalFondoTop10 h1 {
    padding: 150px 100px;
    font-size: 30px;
  }
  .cancionesGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas: "spotify spotify" "album1 album1" "album2 album2" "album3 album3" "album4 album4" "album5 album5";
  }
  .cancionesGrid .canciones {
    height: 500px;
  }
  .cancionesGrid .canciones h2 {
    padding: 20px;
    font-size: 20px;
  }
  .cancionesGrid .canciones .listaSpotify {
    height: 400px;
    padding-right: 20px;
    padding-left: 20px;
  }
  /* CONTACTO */
  .fotoPrincipalFondoContacto {
    margin-top: 75px;
    width: 100%;
    height: 500px;
  }
  .fotoPrincipalFondoContacto h1 {
    padding: 150px 100px;
    font-size: 30px;
  }
  .formularioGrid .formulario {
    font-size: 15px;
    width: 90%;
    margin: 20px 0px;
    padding: 20px;
  }
  .formularioGrid .formulario h2 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  /* ARTISTAS */
  .fotoPrincipalFondoArtistas {
    margin-top: 75px;
    width: 100%;
    height: 500px;
  }
  .fotoPrincipalFondoArtistas h1 {
    padding: 150px 100px;
    font-size: 30px;
  }
  .boxArtistasIndividual {
    width: 90%;
    margin: 30px 20px;
  }
  .boxFlex {
    flex-flow: wrap;
    padding: 10px;
  }
  .boxArtistas h2 {
    font-size: 20px;
    padding: 10px 10px 0px 15px;
  }
  .boxArtistas .boxArtistasFoto {
    width: 300px;
    height: 250px;
    padding: 5px 10px;
  }
  .boxArtistas p {
    font-size: 15px;
    padding: 10px 10px;
  }
  .boxArtistas .enlaces, .boxArtistas .enlacesIz {
    justify-content: center;
  }
  .boxArtistas .enlacesIz {
    justify-content: center;
    margin: 0;
  }
  .boxArtistas a {
    margin: 0 10px 20px 10px;
    font-weight: normal;
    width: 130px;
    height: 70px;
  }
  /* CONOCE MAS */
  .fotoPrincipalFondoConoce {
    margin-top: 75px;
    width: 100%;
    height: 500px;
  }
  .fotoPrincipalFondoConoce h1 {
    padding: 150px 100px;
    font-size: 30px;
  }
  .historiaGrid {
    width: 90%;
    grid-template-columns: 0.7fr;
    grid-template-rows: 0.7fr 0.7fr 0.5fr;
    grid-template-areas: "raiz" "sofrencia" "referentes";
    margin: 20px 20px;
  }
  .raiz {
    width: 90%;
    /* margin: 20px 30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .raiz h2 {
    font-size: 20px;
  }
  .raiz .raizFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .raiz p {
    width: 90%;
    font-size: 15px;
    padding: 5px 10px 5px 5px;
    margin: 0;
  }
  .raiz .raizVideo {
    width: 90%;
  }
  .raiz .raizFoto {
    width: 90%;
  }
  .sofrencia {
    width: 90%;
    margin: 20px 40px 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .sofrencia h2 {
    font-size: 20px;
  }
  .sofrencia .sofrenciaFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .sofrencia p {
    width: 90%;
    font-size: 15px;
    padding: 5px 10px 5px 5px;
    margin-bottom: 0;
  }
  .sofrencia .sofrenciaVideo {
    width: 90%;
  }
  .sofrencia .sofrenciaFoto {
    width: 90%;
    height: 200px;
  }
  .carrouselBox {
    width: 90%;
  }
  .carrouselBox .referentesFoto {
    width: 250px;
    margin: 10px 60px;
  }
  .carrouselBox h2 {
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-align: center;
  }
  /* FOOTER */
  .gridFooter {
    width: 100%;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-template-areas: "logo nosotros" "logo redes" "logo news";
    margin-left: 0;
  }
  .gridFooter .divLogo {
    align-self: start;
  }
  .gridFooter h5 {
    font-size: 15px;
  }
  .gridFooter p {
    font-size: 15px;
  }
  .gridFooter .nosotros {
    margin: 5px;
  }
  .gridFooter .redes {
    margin: 5px;
  }
  .gridFooter .news {
    margin: 5px;
    padding-bottom: 30px;
  }
  .gridFooter input {
    width: 70%;
  }
}

/*# sourceMappingURL=styles.css.map */
