
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5;
}

body{
    font-family: $fuentePrincipal;
    background-image: url(../multimedia/1.jpg);
    background-position:center ;
    background-size: cover;
}

/* MENU */
header{
    .menu{
    @include flex;
    list-style-type: square;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: $colorMenuNav;
    text-align: center;
    width: 100vw;
    height: 100px;
    padding-left: 0;  
    margin-right: 0; 
        li{
            display: inline-block;
            padding: 0px 10px;
            .logoMenu{
                width: 120px;
                height: 120px;
            }
            a{
            color: $colorTextoBlack;
            font-weight: normal;
            text-decoration: none;
            font-size: 25px;
            display:block;
            padding: 0px 20px;
                &:hover{
                    font-weight: 500;
                }
           
            } 
        }
    }
    .navbar{
        display: none;
    }
    
}

/* FOOTER */
.gridFooter{
    display: grid; 
    width: 98vw;
    height: 200px ;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 10px 14px; 
    grid-template-areas: 
    "logo nosotros redes news"; 
    justify-content: space-around;
    align-content: start;
    justify-items: stretch;
    align-items: start;
    
    .divLogo{
        grid-area: logo;
        justify-self: center;
        align-self: center;
        .logoFooter{
            width: 130px;
            height: 130px;
        }
    }
    .nosotros{
        grid-area: nosotros;
        margin: 50px 30px 30px 30px;
    }
    .redes{
        grid-area: redes;
        margin: 50px 30px 30px 30px;
    }
    .news{
        grid-area: news;
        margin: 50px 30px 30px 30px;
        .newsletter{
            font-size: 15px;
        }
    }
    .logoRedes{
        width: 60px;
        height: 60px;
    }

}

