/* MOBILE */
@media screen and (max-width: 500px){
    /* MENU */
    header{
            .menu{
                display:none;
            }
            .navbar{
                display:inline-flex;
                height: 75px;
                padding: 0; 
                background-color: $colorMenuNav;
                .logoMenu{
                    width: 75px;
                    height: 75px;
                }
                a{
                    font-family: $fuentePrincipal;
                    font-size: 15px;
                }
                .navbar-brand{
                    padding: 0;
                    margin-right: 0;
                } 
                .navbar-toggler{
                    width: 35px;
                    padding: 4px;
                } 
                .navbar-toggler-icon{
                    width: 25px;
                }          
            }
        }

    /* INICIO */
    .fotoPrincipalFondoInicio{
        @include fotosPrincipalesResp;
        h1 {
            padding: 150px 100px;
            font-size: 30px;
        }
    }
    .destacadosGrid{
        margin: 40px 20px; 
        width: 90%;
        height: 800px ;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        "titulo"
        "foto1" 
        "foto2" 
        "foto3" 
        "foto4" 
        "foto5"; 
    }
    .destacadosTitulo{
        margin: 15px 0 10px 0;
        padding-top: 10px;
        h2{
            font-size: 20px;
        }
        
    }
    .foto1{
        margin: 5px 10px 5px 10px;
        background-image: url(../multimedia/destacadoMaiaraHor.jpg);
        &:hover{
            background-image: url("../multimedia/MaiaraGifChico.gif");
        }
    }

    .foto2{
        background-image: url(../multimedia/destacadoHenrJuHor.jpg);
        &:hover{
            background-image: url("../multimedia/HenrGifChico.gif");
        }
    }

    .foto3{
        background-image: url(../multimedia/destacadoLuanHor.jpg);
        &:hover{
            background-image: url("../multimedia/LuanGifChico.gif");
        }
    }

    .foto4{
        background-image: url(../multimedia/destacadoMariliaHor.jpg);
        &:hover{
            background-image: url("../multimedia/MariliaGifChico.gif");
        }
    }
    .foto5{
        margin-bottom: 10px;
        background-image: url(../multimedia/destacadoGusLimaHor.jpg);
        &:hover{
            background-image: url("../multimedia/GustavoGifChico.gif");
        }
    }

    /* TOP 10 */
    .fotoPrincipalFondoTop10{
        @include fotosPrincipalesResp;
        h1 {
            padding: 150px 100px;
            font-size: 30px;
        }
    }
    .cancionesGrid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas:
    "spotify spotify"
    "album1 album1" 
    "album2 album2"
    "album3 album3"
    "album4 album4"
    "album5 album5";
        .canciones{
            height: 500px;
        h2{
            padding: 20px;
            font-size: 20px;
            }
            .listaSpotify{
            height: 400px;
            padding-right: 20px;
            padding-left: 20px;
            }
        }
    }

    /* CONTACTO */
    .fotoPrincipalFondoContacto{
        @include fotosPrincipalesResp;
        h1 {
            padding: 150px 100px;
            font-size: 30px;
        }
    }
    .formularioGrid{
        .formulario{
        font-size: 15px;
        width: 90%;
        margin: 20px 0px;
        padding: 20px;
            h2{
                font-size: 20px;
                padding-bottom:  20px;
            }
        }
    }
    /* ARTISTAS */
    .fotoPrincipalFondoArtistas{
        @include fotosPrincipalesResp;
        h1 {
            padding: 150px 100px;
            font-size: 30px;
        }
    }
    .boxArtistasIndividual{
        width: 90%;
        margin: 30px 20px;
    }    
    .boxFlex{
        flex-flow: wrap;
        padding: 10px;
    }
    .boxArtistas{
         h2{
            font-size: 20px;
            padding: 10px 10px 0px 15px;
        }
        .boxArtistasFoto{
            width: 300px;
            height: 250px;
            padding: 5px 10px;
        }
        p{
            font-size: 15px;
            padding: 10px 10px;
        }

        .enlaces{
            justify-content: center;
        }
        .enlacesIz{
            justify-content: center;
            margin: 0;
        }
    
        a{
        margin: 0 10px 20px 10px;
        font-weight: normal;
        width:130px;
        height: 70px;
        }
    }
    /* CONOCE MAS */
    .fotoPrincipalFondoConoce{
        @include fotosPrincipalesResp;
        h1 {
            padding: 150px 100px;
            font-size: 30px;
        }
    }
    .historiaGrid{
        width: 90%;
        grid-template-columns: 0.7fr; 
        grid-template-rows: 0.7fr 0.7fr 0.5fr; 
        grid-template-areas: 
        "raiz" 
        "sofrencia"
        "referentes"; 
        margin: 20px 20px;
    }    
    .raiz{
        width: 90%;
        /* margin: 20px 30px; */
        @include flexWrap;
        h2{
            font-size: 20px ;
        }
        .raizFlex{
            @include flexWrap;
        }
        p{
            width: 90%;
            font-size: 15px;
            padding: 5px 10px 5px 5px ;
            margin: 0;
        }
        .raizVideo{
            width: 90%;
        }
        .raizFoto{
            width: 90%;
        }
    }   
    .sofrencia{
        width: 90%;
        margin: 20px 40px 20px 40px;
        @include flexWrap;
        h2{
            font-size: 20px ;
        }
        .sofrenciaFlex{
            @include flexWrap;
        }
        p{
            width: 90%;
            font-size: 15px;
            padding: 5px 10px 5px 5px ;
            margin-bottom: 0;
        }
        .sofrenciaVideo{
            width: 90%;
            
        }
        .sofrenciaFoto{
            width: 90%;
            height: 200px;
            
        }
    }               
    .carrouselBox{
        width: 90%;
        .referentesFoto{
            width: 250px;
            margin: 10px 60px;
        }
        h2{
            font-size: 25px ;
            padding: 10px 20px 10px 20px;
            text-align: center;
        }
    }
    /* FOOTER */
    .gridFooter{   
        width: 100%;    
        grid-template-columns: 0.5fr 0.5fr; 
        grid-template-rows: 0.1fr 0.1fr 0.1fr; 
        grid-template-areas: 
        "logo nosotros"
        "logo redes"
        "logo news";
        margin-left: 0;     
        .divLogo{
            align-self: start;
         }
        h5{
            font-size: 15px; 
         }
         p{
            font-size: 15px;
         }
        .nosotros{
            margin: 5px;
        }
        .redes{
            margin: 5px;
        }
        .news{
            margin: 5px;
            padding-bottom: 30px;
        }
        input{
            width: 70%;
        }
        
    }

}